{% extends 'layout.html' %}

{% block body %}
    <main role="main">
        <div class="jumbotron" style="text-align: center">
            <h1 class="display-3">Emotion Write</h1>
            <p class="lead">How are you feeling today?</p>
            <video autoplay width="480" height="360"></video>
            <canvas id="idCan" width="480" height="360" style="display: none"></canvas>
            <img src = "static/sample-out.jpg?342038402" width ="480" height="360" id="img">
            <p><input type="button" id="stopbt" value="STOP" class="btn btn-lg btn-success"/></p>
            <p id="output"></p>
        </div>
        <script type="text/javascript" src="{{ url_for('static', filename='record_emotion.js') }}"></script>
        <script>
        window.onload = function() {
            var image = document.getElementById("img");

            function updateImage() {
                image.src = image.src.split("?")[0] + "?" + new Date().getTime();
            }

            setInterval(updateImage, 3000);
        }
        </script>

        

    </main>
{% endblock %}